spring:
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://127.0.0.1:5432/origin?serverTimezone=Asia/Shanghai
    username: root
    password: wzw123!@#
    hikari:
      minimum-idle: 5 # 连接池中最小空闲连接数
      maximum-pool-size: 20 # 连接池中允许的最大连接数
      auto-commit: true # 连接是否自动提交事务
      idle-timeout: 30000 # 30s，连接在连接池中闲置的最长时间，超过这个时间会被释放（单位：毫秒）
      pool-name: Origin-HikariCP # 连接池名
      max-lifetime: 1800000 # 30m，连接在连接池中的最大存活时间，超过这个时间会被强制关闭（单位：毫秒）
      connection-timeout: 30000 # 30s，获取连接的超时时间（单位：毫秒）
      connection-test-query: SELECT 1 # 用于测试连接是否可用的SQL查询语句
