server:
  port: 8081

spring:
  application:
    name: "技术底座单体版"
  profiles:
    # 默认激活的环境
    active: dev
  servlet:
    multipart:
      max-file-size: 100MB # 限制单个上传文件的最大大小为 100MB。如果上传的文件大小超过这个值，将会被拒绝上传。
      max-request-size: 100MB # 限制整个上传请求的最大大小为 100MB。这包括所有上传文件的大小之和。如果请求总大小超过这个值，将会被拒绝。

jwt:
  # 签发人
  issuer: "一陌千尘"
  # 秘钥
  secret: HpOdsqmwOqtJcq3AzargcLbYKTp7qijmrPv4Mx9rLbGcS2mB0USGdmsPYJXso9zTVzWA/Tmrh/iW1irD8nYYTQ==
  # token 过期时间（单位：分钟） 24*60
  tokenExpireTime: 1440
  # 记住我功能 token 过期时间（单位：分钟） 7*24*60
  rememberMeExpireTime: 10080
  # token 请求头中的 key 值
  tokenHeaderKey: Authorization
  # token 请求头中的 value 值前缀
  tokenPrefix: Bearer

# 登录次数限制配置
login:
  attempt:
    # 是否开启登录次数限制功能（true: 开启, false: 关闭）
    enabled: false
    # 最大失败次数，超过该次数将锁定账号（默认: 5）
    max-attempts: 5
    # 账号锁定时间（单位：分钟，默认: 30）
    lock-duration-minutes: 30
  session:
    # 登录策略配置：single-单设备登录（互踢），multiple-多设备登录（默认: multiple）
    strategy: multiple

origin:
  # 事件驱动自定义线程池配置（可选配置，不配置则使用默认值）
  event:
    thread-pool:
      # 核心线程数，默认为 CPU 核心数
      core-pool-size: 4
      # 最大线程数，默认为 CPU 核心数的 2 倍
      max-pool-size: 8
      # 队列容量，默认为 200
      queue-capacity: 200
      # 线程空闲时间（秒），默认为 60 秒
      keep-alive-seconds: 60
      # 线程名前缀，默认为 "event-executor-"
      thread-name-prefix: "event-executor-"
      # 是否等待任务完成后再关闭线程池，默认为 true
      wait-for-tasks-to-complete-on-shutdown: true
      # 等待任务完成的超时时间（秒），默认为 60 秒
      await-termination-seconds: 60
  # 定时任务线程池配置
  scheduler:
    thread-pool:
      pool-size: 5                                # 定时任务线程池大小
      thread-name-prefix: "example-scheduler-"    # 线程名前缀
      wait-for-tasks-to-complete-on-shutdown: true # 是否等待任务完成后再关闭线程池
      await-termination-seconds: 60 # 等待任务完成后再关闭线程池的超时时间（秒）

# springdoc-openapi 配置
springdoc:
  swagger-ui:
    path: /swagger-ui.html
    tags-sorter: alpha
    operations-sorter: alpha
  api-docs:
    path: /v3/api-docs
  group-configs:
    - group: 'default'
      paths-to-match: '/**'
      packages-to-scan:
        # 指定扫描的包
        - com.cosmos.origin.web.controller
        - com.cosmos.origin.admin.controller
        - com.cosmos.origin.websocket.controller
# knife4j 增强配置
knife4j:
  enable: true
  setting:
    language: zh_cn
